/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* .wrapper {
        padding: 0 20px;
      } */

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* .wrapper {
        padding: 0 20px;
      } */
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .wrapper {
    width: 1200px;
    margin: auto;
    padding: 0;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .wrapper {
    width: 1200px;
    margin: auto;
  }
}
