:root {
  --primary-color: #333;
  --active-color: #c9590f;
  --sub-color: rgb(151, 148, 148);
  --primary-bg: #d8d8d8;
  --unactive-color: #d8d8d8;
  --sub-bg: #3c3b3d;
  --font-sub: "'Lora', serif;";
  --font-main: "'Fira Sans', sans-serif";
  --fs-post-title: 24px;
}

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

*,
p,
h1,
h2,
h3 {
  padding: 0;

  margin: 0;
  box-sizing: border-box;
}

html,
p,
a,
h1,
h2,
h3,
h5,
h6,
div {
  font-family: "Fira Sans", sans-serif;
}

ul,
li {
  color: inherit;
}

a {
  text-decoration: none;
  color: initial;
}

a:hover {
  color: initial;
}

.form input {
  width: 100%;
}
/* 
input, */
img {
  width: 100%;
}

/* Heading từng Page */

/* Animation */

@keyframes modalFadeIn {
  from {
    transform: translateY(-200px);
    opacity: 0.6;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes growth {
  from {
    transform: scale(0.7);
  }
  to {
    transform: scale(1);
  }
}

/* @keyframes animationBt {
  from {
    background-size: cover;
    background-position: 50% 22%;
  }
  to {
    background-size: scale(1.5);
    background-position: 100% 22%;
  }
} */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  /* .wrapper {
    padding: 0 20px;
  } */
  .blog-decr {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
