<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chế Độ Ăn</title>
  </head>
  <body>
    <section class="footer">
      <div class="social d-flex justify-content-center">
        <a href="https://www.facebook.com/">
          <div class="social-item d-flex align-items-center">
            <span class="social-icon">
              <i class="bi bi-facebook"></i>
            </span>
            <p class="social-name d-none d-md-block">FACEBOOK</p>
          </div>
        </a>

        <a href="https://twitter.com/?lang=vi">
          <div class="social-item d-flex align-items-center">
            <span class="social-icon">
              <i class="bi bi-twitter"></i>
            </span>
            <p class="social-name d-none d-md-block">TWITTER</p>
          </div>
        </a>

        <a href="https://google.com">
          <div class="social-item d-flex align-items-center">
            <span class="social-icon">
              <i class="bi bi-google"></i>
            </span>
            <p class="social-name d-none d-md-block">GOOGLE</p>
          </div>
        </a>

        <a href="https://www.instagram.com/foodaholic.ig/">
          <div class="social-item d-flex align-items-center">
            <span class="social-icon">
              <i class="bi bi-instagram"></i>
            </span>
            <p class="social-name d-none d-md-block">INSTAGRAM</p>
          </div>
        </a>

        <a href="https://www.pinterest.com/search/pins/?q=food&rs=typed">
          <div class="social-item d-flex align-items-center">
            <span class="social-icon">
              <i class="bi bi-pinterest"></i>
            </span>
            <p class="social-name d-none d-md-block">PINTEREST</p>
          </div>
        </a>

        <a href="https://www.youtube.com/c/Delight_Studios/videos">
          <div class="social-item d-flex align-items-center">
            <span class="social-icon">
              <i class="bi bi-youtube"></i>
            </span>
            <p class="social-name d-none d-md-block">YOUTUBE</p>
          </div>
        </a>

        <a href="">
          <div class="social-item d-flex align-items-center">
            <span class="social-icon">
              <i class="bi bi-envelope"></i>
            </span>
            <p class="social-name d-none d-md-block">EMAIL</p>
          </div>
        </a>

        <a href="">
          <div class="social-item d-flex align-items-center">
            <span class="social-icon">
              <i class="bi bi-snapchat"></i>
            </span>
            <p class="social-name d-none d-md-block">SNAPCHAT</p>
          </div>
        </a>
      </div>
      <div class="copy-right">
        @2022 - Food Mood. All Right Reserved. Designed and Developed by Tuan
        Dang Van
      </div>
    </section>
    <script src="./footer.css" type="module"></script>
  </body>
</html>
